<style type="text/css">
  #app-title {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: #fa5a25;
    z-index: 10;
  }

  #menu {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 5px;
  }

  #menu-toggle {
    position: relative;
    z-index: 3;
  }

  #menu-handle-icon {
    position: relative;
    z-index: 4;
  }

  #loading {
    position: absolute;
    top:50%;
    width: 100%;
    z-index:1;
    background-color: #fa5a25;
  }

  #menu-items {
    position: relative;
    z-index: 4;
  }

  .menuitem {
  }

  .expanded {
  }

  .collapsed {
  }

</style>

<div id="app-title" class="text-center">
  <%= image_tag "logo.png", {id: 'img-logo'} %>
</div>

<div id="menu" class="text-center collapsed">
  <%= image_tag "btn_button_alert_main_normal.png", {id: "menu-handle-icon"} %>
  <div id="menu-items" class="text-center">
    <%= image_tag "btn_alert_meetingpoint_normal.png", {class: "menuitem", id: "btn-encontro"} %>
    <%= image_tag "btn_alert_police_normal.png", {class: "menuitem", id: "btn-policia"} %>
    <%= image_tag "btn_alert_conflict_normal.png", {class: "menuitem", id: "btn-conflito"} %>
    <%= image_tag "btn_alert_depredation_normal.png", {class: "menuitem", id: "btn-depedracao"} %>
  </div>
</div>
<div id="loading" class="text-center">Carregando mapa...</div>
<div id="map_canvas" class="map"/>


