<style type="text/css">
  #menu {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
  }

  #menu-toggle {
    position: relative;
    z-index: 3;
  }

  #menu-handle-icon {
    position: relative;
    z-index: 4;
    height: 80px;
  }

  #menu-items {
    position: relative;
    z-index: 4;
  }

  .menuitem {
    height: 80px;
  }

  .expanded {
  }

  .collapsed {
  }
</style>

<div id="menu" class="text-center collapsed">
  <%= image_tag "/assets/btn_button_alert_main_normal.png", {id: "menu-handle-icon"} %>
  <div id="menu-items" class="text-center">
    <%= image_tag "/assets/btn_alert_meetingpoint_normal.png", {class: "menuitem", id: "btn-encontro"} %>
    <%= image_tag "/assets/btn_alert_police_normal.png", {class: "menuitem", id: "btn-policia"} %>
    <%= image_tag "/assets/btn_alert_conflict_normal.png", {class: "menuitem", id: "btn-conflito"} %>
    <%= image_tag "/assets/btn_alert_depredation_normal.png", {class: "menuitem", id: "btn-depedracao"} %>
  </div>
</div>
<div id="loading" class="loading">Loading Map...</div>
<div id="map_canvas" class="map"/>


