<style type="text/css">
  #app-title {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: #fa5a25;
    z-index: 10;
  }

  #menu {
    position: absolute;
    width: 100%;
    width: 100%;
    left: 0px;
    bottom: 5px;
  }

  #menu-toggle {
    position: relative;
    z-index: 3;
  }

  #loading {
    position: absolute;
    top:50%;
    z-index:1;
    background-color: #fa5a25;
  }

  #menu-items {
    position: relative;
    z-index: 4;
  }

  .menu-handle-icon {
    position: relative;
    z-index: 4;
  }

  .menu-items-top img {
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -25px;
    height: 100%;
  }

  .menu-items-down img {
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 0px;
  }

  .menuitem {
  }

  .expanded {
  }

  .collapsed {
  }

</style>

<div id="app-title" class="text-center">
  <%= image_tag "logo.png", {id: 'img-logo'} %>
</div>

<div id="menu" class="text-center collapsed">
  <div id="menu" class="text-center collapsed">
    <%= image_tag "btn_button_alert_main_normal.png", {class: "menu-handle-icon"} %>
    <div id="menu-items" class="text-center">
      <div class="menu-items-top">
        <%= image_tag "btn_alert_police_normal.png", {class: "menuitem", id: "btn-policia"} %>
        <%= image_tag "btn_alert_conflict_normal.png", {class: "menuitem", id: "btn-conflito"} %>
      </div>
      <div class="menu-items-down">
        <%= image_tag "btn_alert_meetingpoint_normal.png", {class: "menuitem", id: "btn-encontro"} %>
        <%= image_tag "btn_button_alert_main_pressed.png", {class: "menu-handle-icon-pressed"} %>
        <%= image_tag "btn_alert_depredation_normal.png", {class: "menuitem", id: "btn-depedracao"} %>
      </div>
    </div>
  </div>
</div>
<div id="loading" class="text-center">Carregando mapa...</div>
<div id="map_canvas" class="map"/>


